@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1.5;
}

.google-image {
  background-image: url(./images/ellipse1.svg), url(./images/ellipse2.svg), url(./images/ellipse3.svg), url(./images/google_devs.svg), url(./images/ellipse4.svg), url(./images/ellipse5.svg), url(./images/hero_background.svg);
  background-size: auto, auto, auto, auto, auto, auto, contain;
  background-repeat: no-repeat;
  background-position: 60px 6rem, 70px 4rem, 25rem 26rem, 45rem 6rem, 51rem 20rem, 77rem 23rem, 29.4rem -10rem;
}

/* Testimonial Styling */

.testimonial-container {
  background-image: url(./images/hero_background.svg);
  background-size: contain;
  background-position-y: -100px;
  background-repeat: no-repeat;
  background-position-x: -100px;
}

/* Testimonial Styling End */

/* Alt Styling */

.alt-container {
  background-image: url(./images/hero_background.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 25rem -6rem;
}

.bg-img1 {
  background-image: url(./images/adept_analyzer_img.png);
  background-repeat: no-repeat;
}

.bg-img2 {
  background-image: url(./images/lifelong_learner_img.png);
  background-repeat: no-repeat;
}

.bg-img3 {
  background-image: url(./images/team_player_img.png);
  background-repeat: no-repeat;
}
